header::after {
  display: block;
  content: '';
  height: 98px;
}

/* LOGIN STARTS */
/* LOGIN STARTS */
/* LOGIN STARTS */

#authentication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 82px;
}

#authentication .title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

#authentication .subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#authentication .subtitle a {
  font-weight: 600;
  color: var(--color4);
  text-decoration: none;
}

#authentication .subtitle a:hover {
  text-decoration: underline;
}

.login-container .login-form,
.authentication-container .authentication-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 17px;
  width: 378px;
}

.authentication-container {
  margin-top: 48px;
}

.login-form label,
.authentication-form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.login-form label.password-title,
.authentication-form label.authentication-title {
  margin-top: 24px;
}

.login-form input,
.authentication-form input {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  height: 39px;
  width: 376px;
  padding: 0 8px;
  font-size: 12px;
}

.login-form input:active {
  border: none;
}

.authentication-form input:active {
  border: none;
}

.authentication-form .password-label-2 {
  margin-top: 24px;
}

.login-container .login-form a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: var(--color4);
  font-weight: 600;
  text-decoration: none;

  margin-top: 12px;
}

.login-container .login-form a:hover {
  text-decoration: underline;
}

.login-form .login-button,
.authentication-form .authentication-button {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color4);
  color: white;

  align-self: center;
  margin-top: 24px;
  border-radius: 8px;
  border: none;
  padding: 8px 20px;
  text-align: center;
}

.authentication-form .authentication-button {
  margin-bottom: 188px;
}

.accounts-subtitle-container {
  display: flex;
  justify-content: center;
}

.accounts-subtitle {
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 24px;
  font-size: 12px;
}

.accounts-subtitle>hr {
  display: inline-block;
  width: 102.5px;
  margin: 0 6px;
}

/* accounts login */
/* accounts login */
/* accounts login */

.accounts-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.accounts-container button {
  width: 378px;
  height: 39px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 48px;
  display: flex;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: rgba(94, 94, 94, 1);
}

.google-login img {
  padding-left: 18px;
  margin-right: 87px;
}

.facebook-login {
  margin-top: 24px;
  margin-bottom: 82px;
}

.facebook-login img {
  padding-left: 18px;
  margin-right: 79.5px;
}

/* LOGIN ENDS */
/* LOGIN ENDS */
/* LOGIN ENDS */

/* REGISTER STARTS */
/* REGISTER STARTS */
/* REGISTER STARTS */
.register-container .register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 17px;
  width: 378px;
}

.register-form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.register-form label.password-title {
  margin-top: 24px;
}

.register-form input {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  height: 39px;
  width: 376px;
  padding: 0 8px;
  font-size: 12px;
}

.register-form input:active {
  border: none;

}

.register-container .register-form a {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: var(--color4);
  font-weight: 600;
  text-decoration: none;

  margin-top: 12px;
}

.register-container .register-form a:hover {
  text-decoration: underline;
}

.register-form .register-button {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color4);
  color: white;
  width: 87px;
  height: 35px;
  align-self: center;
  margin-top: 24px;
  border-radius: 8px;
  border: none;
}

.email-title {
  margin-top: 24px;
}

/* RESET PASSWORD */
/* RESET PASSWORD */
/* RESET PASSWORD */
.authentication-form .icons-1,
.icons-2 {
  position: absolute;
}

.authentication-form i {
  position: relative;
  font-size: 16px;
  left: 342px;
  top: 40.2px;
  color: #a5a5a5;
  cursor: pointer;
}

.authentication-form .icons-2>.icon-2 {
  top: 132px;
}