#cart {
  margin: auto;
}

.cart-page-container {
  padding: 82px 90px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.cart-page-container>.left,
.left-full>span {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

.cart-page-container .cart-container {
  width: 780px;
  min-height: 464px;
  background-color: white;
  border-radius: 8px;
  margin-top: 24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-container>.empty-title {
  font-size: 16px;
  margin-top: 12px;
}

.empty-cart-buttons {
  display: flex;
  align-items: center;

  margin-top: 24px;
}

.empty-cart-buttons .sign-in,
.register a {
  border-radius: 8px;
  padding: 8px;
  border: none;
  text-decoration: none;
  color: white;
}

/* .empty-cart-buttons .sign-in {
  background: linear-gradient(180deg, #FFFFFF 0%, #CEA8FF 0.01%, #9747FF 54%, #CEA8FF 99.5%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.062) 71%, rgba(0, 0, 0, 0) 100%);
  width: 87px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;

}

.empty-cart-buttons .sign-in:hover {
  background: linear-gradient(180deg, #A09AFF 0%, #7D75FD 25%, #5F56FC 46.5%, #7D76FD 71.5%, #A09AFF 100%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.062) 71%, rgba(0, 0, 0, 0) 100%);
} */


.empty-cart-buttons .sign-in {
  background-image: linear-gradient(180deg, #FFFFFF 0%, #CEA8FF 0.01%, #9747FF 54%, #CEA8FF 99.5%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.062) 71%, rgba(0, 0, 0, 0) 100%);
  width: 87px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;

  position: relative;
  /* Adiciona uma transição suave de 0.3 segundos */
}

.hovering-button::before {
  content: '';
  position: absolute;

  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  border-radius: 8px;
  background-image: linear-gradient(180deg, #A09AFF 0%, #7D75FD 25%, #5F56FC 46.5%, #7D76FD 71.5%, #A09AFF 100%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.062) 71%, rgba(0, 0, 0, 0) 100%);

  opacity: 0;
  transition: opacity 0.25s;
}

.hovering-button:hover::before {
  opacity: 1;
}

.hovering-button>span {
  position: relative;
}

.empty-cart-buttons .register a {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 1);
  color: var(--color1);
  border: 1px solid rgba(63, 55, 201, 1);
  padding: 8.5px;
  font-size: 14px;
}

.empty-cart-buttons .register a:hover {
  text-decoration: none;
}

.empty-cart-buttons>ul {
  margin-bottom: 2px;
  font-size: 16px;
  margin-left: 12px;
  color: var(--color5);
}

.empty-cart-buttons>ul span {
  color: var(--color1);
}

/* right */
/* right */
/* right */

.cart-page-container>.right {
  margin-top: 12px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.cart-page-container .right>span {
  font-family: 'Josefin Sans';

  font-size: 24px;
  font-weight: 700;
}

.right>.explore-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.explore-container>.cart-explore-item {
  display: flex;
  align-items: center;
  width: 237px;
}

.explore-container>.cart-explore-item>.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  width: 126px;
}

.explore-container>.cart-explore-item>.info>.bottom>.right {
  position: relative;
  left: 18px;
}

.custom-checkbox-cart {
  cursor: pointer;
  position: relative;
  top: 14px;
  left: 30px;
  font-size: 16px;
}

.custom-checkbox-cart .cart-e {
  color: var(--color1);
  position: absolute;
  /* top: 20px; */
  /* margin-bottom: 30px; */
}

.custom-checkbox-cart .cart-e,
.cart-f {

  font-weight: 100;
  color: var(--color1);
  left: 0.3px;

  /* margin-bottom: -30px; */
}

.custom-checkbox-cart .cart-f {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  color: var(--color4);
}

.custom-checkbox-cart:hover .cart-f {
  opacity: 0.5;
}

.custom-checkbox-cart:hover .cart-e {
  opacity: 0;
}

.custom-checkbox-cart input[type="checkbox"]:checked~.cart-f {
  opacity: 1;
}

.custom-checkbox-cart input[type="checkbox"]:checked~.cart-e {
  opacity: 0;
}

label.bestseller {
  position: relative;
  left: 3px;
}

.cart-cart {
  position: relative;
  top: 9px;
  left: 34px;
  border: none;
  border-radius: 3.6px;
}

.cart-cart>img {
  width: 16px;
  /* border-radius: 3.6px; */
}

.explore-container>.cart-explore-item>.info .bottom {
  display: flex;
}

.explore-container>.cart-explore-item>.info .left {
  display: flex;
  flex-direction: column;
}

.explore-container>.cart-explore-item>.info .name {
  color: var(--color4);
  font-size: 11.5px;
}

.explore-container>.cart-explore-item>.info .price-old {
  font-size: 10px;
  text-decoration: line-through;
  margin-left: 5px;
  margin-top: 8px;
}

.explore-container>.cart-explore-item>.info .price-new {
  font-size: 14px;
  color: var(--color4);
  font-weight: 700;
}


/* EMPTY CART LOGIN */
/* EMPTY CART LOGIN */
/* EMPTY CART LOGIN */
.empty-cart-button-explore {
  background-color: white;
  border: 1px solid rgba(63, 55, 201, 1);
  padding: 8px;
  border-radius: 8px;

  text-decoration: none;
  font-size: 14px;
  color: var(--color1);
}

.empty-cart-button-explore:hover {
  text-decoration: none;
  color: var(--color4);
  transition: color .25s;
}

/* CART-FULL */
/* CART-FULL */
/* CART-FULL */
#cart .full .cart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 12px;


}

/* #cart .full .left-full {

} */

.full .cart-container>.headers,
.items {
  width: 781px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 37px;
}

.cart-container>.headers {
  padding-top: 20px;
  font-weight: 700;
  font-size: 12px;
}

.cart-container>.headers>.price {
  margin-left: 317px;
}

.cart-container>.headers>.quantity {
  margin-left: 120px;
}

.cart-container>.headers>.total {
  margin-left: 149px;
}

.cart-container>.items {
  padding-top: 5px;
}

.cart-container>.items>.name {
  margin-left: 12px;
  width: 144px;
  font-weight: 600;
  font-size: 14px;
}

.cart-container>.items>.prices {
  margin-left: 89px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-container>.items>.prices>.new {
  font-size: 12px;
  font-weight: 700;
}

.cart-container>.items>.prices>.old {
  font-size: 10px;
  color: var(--color3);
  margin-top: 6px;
  text-decoration: line-through;
}

.cart-container>.items>.quantity {
  margin-left: 38.5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  width: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container>.items>.quantity>button {
  border: 0;
  background-color: white;
  margin: 0 6px;
  font-size: 14px;
  color: var(--color5);
}

.cart-container>.items>.quantity>span {
  font-size: 10px;
  color: var(--color5);
}

.cart-container>.items>.total {
  margin-left: 69.5px;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 12px;
}

.cart-container>.items>.total>span {
  font-size: 14px;
  font-weight: 700;
  color: var(--color4);
}

.cart-container>.items>.total>button {
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;

  font-size: 8px;
  font-weight: 300;

  display: flex;
  align-items: center;
  justify-content: center;
}


/* right starts */
/* right starts */
/* right starts */
#cart>.full>.right-full {
  width: 379px;
  max-height: 266px;

  background-color: white;
  border-radius: 8px;
  margin-top: 75px;
  margin-left: 24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);

  position: sticky;
  position: -webkit-sticky;
  top: 128px;
}

.full>.right-full>.info-container {
  display: flex;
  flex-direction: column;
}

.full>.right-full>.info-container>.top,
.bottom {
  margin: 0 22.5px;
}

.full>.right-full>.info-container>.top {
  margin-top: 24px;
  margin-bottom: 12px;
}

.full>.right-full>.info-container>.top>.total,
.shipping {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  color: var(--color1);
}

.full>.right-full>.info-container>.top>.shipping {
  margin-top: 12px;
}

.full>.right-full>.info-container>.bottom {
  display: flex;
  flex-direction: column;
}

.info-container>.bottom>.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  margin-top: 12px;
}

.info-container>.bottom>.total>.value {
  font-size: 24px;
  color: var(--color4);
}

.info-container>.bottom>a.checkout {
  display: inline-block;
  margin-top: 44px;
  align-self: center;
  text-decoration: none;
  color: white;
  background-color: var(--color4);
  font-size: 14px;
  font-weight: 700;
  padding: 10px 38px;
  border-radius: 8px;
}