.checkout-page-container {
  width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 24px;
  margin: 82px auto;
}

.checkout-left {
  width: 781px;
  display: flex;
  flex-direction: column;
  column-gap: 48px;
  background-color: wheat;
  row-gap: 50px;
}

.checkout-left>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px 24px;
  background-color: aquamarine;
}

.shipping-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.shipping-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgreen;
  width: 100%;
}


.shipping-info > form {
  display: flex;
  flex-direction: column;
}


/* RIGHT SECTION STARTS */
/* RIGHT SECTION STARTS */
/* RIGHT SECTION STARTS */

.checkout-right {
  /* background-color: blueviolet; */
  padding: 0 10px;
  height: fit-content;
  width: 379px;
  box-shadow: 0px 0px 8px 0px #0000001A;
  border-radius: 8px;
}

.checkout-right>.order-details,
.checkout-right>.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-details-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 24px 0 4px 0;
}

.checkout-product {
  background-color: white;
  border-bottom: 1px solid #00000066;
  width: 359px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 8px 0;
}

.checkout-product>img {
  width: 68px;
  height: 63.28px;
  border-radius: 8px;
}

.checkout-product-info {
  /* background-color: lightskyblue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.checkout-product-name {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.checkout-product-total {
  display: flex;
  margin-top: 1px;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;

}

.checkout-product-quantity {
  font-size: 12px;
  color: var(--color5);
}

.checkout-product-price {
  font-size: 14px;
  color: var(--color4);
  font-weight: 700;
}

.order-summary {
  margin: -1px -10px 0 -10px;
  padding: 12px 10px;
  border-top: 1px solid #00000066;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: lightsalmon; */
}

.subtotals, .checkout-total {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0 22.5px;

}

.subtotals {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.subtotals-row {
  /* background-color: lightgreen; */
  display: flex;
  justify-content: space-between;
}

.subtotals-row-price {
  font-weight: 700;

}

.checkout-total {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: lightskyblue; */
}

.checkout-total>div {
  display: flex;
  flex-direction: column;
}

.checkout-grand-total {
  font-size: 16px;
  font-weight: 700; 
}

.checkout-fees {
  font-size: 10px;
}


.checkout-grand-total-price {
  font-size: 24px;
  font-weight: 700;
  color: var(--color4);
}