@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: rgba(16, 16, 16, 1);
  --color2: rgba(255, 255, 255, 1);
  --color3: rgba(165, 165, 165, 1);
  --color4: rgba(63, 55, 201, 1);
  --color5: rgba(61, 61, 61, 1);
}

#main-home::before {
  display: block;
  content: '';
  height: 91px;
}

/* NAVBAR STARTS */
/* NAVBAR STARTS */
/* NAVBAR STARTS */
.nav-top,
.nav-bottom {
  background-color: var(--color1);
  padding: 0 64px 0 64px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-top {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999999999;
}

.logo {
  width: 60px;
}

#search-bar {
  height: 50px;
  width: 532px;
  font-size: 16px;

  margin: 24px 22px;
  padding: 0 24px 0 24px;

  border-radius: 35px;
  border: none;
}

#search-button {
  position: relative;
  right: 87px;
  bottom: 2px;
  border: none;
}

#nav-currency,
#nav-your-account,
#cart-icon {
  font-size: 16px;
  width: 65px;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  text-decoration: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-your-account {
  font-weight: 400;
  width: 156px;
}

#nav-your-account img {
  margin-right: 8px;
}

#cart-icon {
  width: 34px;
  display: flex;
  justify-content: center;
}

#cart-icon span {
  margin-bottom: -53px;
  position: absolute;
  color: white;
  font-size: 14px;
}

#navbar-separator {
  display: block;
  position: relative;
  top: 98px;
  z-index: 999;
  border-top: 1px solid var(--color3);
}

.nav-bottom {
  position: relative;
  top: 98px;
  z-index: 999;
}

.categories-dropdown {
  background-color: var(--color1);
  color: var(--color3);
  border: none;
}

.nav-links {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 57px;
}

.nav-links a {
  color: var(--color3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;

  padding: 20.5px 0;
}

.nav-links a:hover {
  text-decoration: none;
  color: white;
  transition: 0.25s;
}

/* NAVBAR ENDS */
/* NAVBAR ENDS */
/* NAVBAR ENDS */

/* HERO STARTS */
/* HERO STARTS */
/* HERO STARTS */
#hero {
  height: 430px;

  background-image: url('../images/assets/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  z-index: 0;
}

#hero-title {
  background: rgba(0, 0, 0, 0.3);
  width: 485px;
  height: 140px;
  backdrop-filter: blur(1.7px);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);

  position: relative;
  top: 251px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: var(--color2);
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  text-align: center;
  font-weight: 600;
  text-shadow: 2px 2px 5px black;
}

#hero-title p {
  display: inline-block;
  width: 194.5px;
  margin: 22px 24px;
}

.hero-buttons {
  width: 275px;
  height: 37px;

  position: relative;
  top: 354px;
  right: 64px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-buttons a {
  padding: 10px 14px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.124) 71%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(180deg, #3F37C9 0%, #9747FF 54%, #D2AFFF 99.5%);

  color: var(--color2);
  text-decoration: none;

}

/* HERO ENDS */
/* HERO ENDS */
/* HERO ENDS */


/* CUSTOMER SERVICE STARTS */
/* CUSTOMER SERVICE STARTS */
/* CUSTOMER SERVICE STARTS */
#customer-info {
  height: 56px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#customer-buttons {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 11.04px;
  text-align: center;
}

.customer-button {
  width: 218.67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.customer-button-top {
  width: 24px;
  height: 24px;

  position: relative;
  margin-right: 8px;
}

.customer-button-top img {
  width: 24px;
}

/* CUSTOMER SERVICES ENDS */
/* CUSTOMER SERVICES ENDS */
/* CUSTOMER SERVICES ENDS */

/* SEARCH STARTS */
/* SEARCH STARTS */
/* SEARCH STARTS */
/* #search {
  margin-top: 82px;
}

#search>span {
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 34px;
  margin-left: 64px;
} */

#search>span {
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 34px;
  margin-left: 38px;
}

#search {
  margin: 82px auto 0 auto;
  /* margin: auto; */
  width: 1300px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.search-all {
  margin: 48px 0 0 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
  display: flex;
  justify-content: flex-start;
}

.search-item {
  height: 313px;
  width: 290px;

  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-item-top {
  width: 290px;
  height: 228px;
}

.search-item-top .image {
  width: 290px;
  height: 228px;
  object-fit: cover;
}

.search-item-bottom {
  width: 290px;
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20.5px;
  padding-bottom: 20.5px;
}

.search-info {
  max-width: 226px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--color4);
  margin: 8px 0 0 12px;
}

.search-prices {
  display: flex;
  align-items: center;
  margin-bottom: -15px;
}

.search-price-new {
  color: var(--color4);
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.search-price-old {
  font-size: 14px;
  color: var(--color5);
  margin-left: 15.85px;
  text-decoration: line-through;
}

.search-buttons {
  width: 28.77px;
  height: 70px;
  position: relative;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-checkbox-4 {
  cursor: pointer;
  position: relative;
  top: 18px;
}

.custom-checkbox-4 .favourite-4-e {
  color: var(--color1);
  position: absolute;
  /* top: 20px; */
  /* margin-bottom: 30px; */
}

.custom-checkbox-4 .favourite-4-e,
.favourite-3-f {

  font-weight: 100;
  color: var(--color1);
  left: 0.3px;

  /* margin-bottom: -30px; */
}

.custom-checkbox-4 .favourite-4-f {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox-4:hover .favourite-4-f {
  opacity: 0.5;
}

.custom-checkbox-4:hover .favourite-4-e {
  opacity: 0;
}

.custom-checkbox-4 input[type="checkbox"]:checked~.favourite-4-f {
  opacity: 1;
}

.custom-checkbox-4 input[type="checkbox"]:checked~.favourite-4-e {
  opacity: 0;
}

.search-cart {
  width: 28.77px;
  position: relative;
  top: 10px;
  border: none;
}

/* SEARCH ENDS */
/* SEARCH ENDS */
/* SEARCH ENDS */


/* HIGHLIGHTS STARTS */
/* HIGHLIGHTS STARTS */
/* HIGHLIGHTS STARTS */
#highlights-title {
  display: inline-block;
  margin: 82px 0 48px 40px;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 34px;
  font-weight: 700;
}

#highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: aqua; */
  width: 1300px;
  margin: auto;
}

.slider {
  height: 418px;
  width: 1210px;
  margin: auto;
  border-radius: 8px;

  position: relative;
  display: grid;
  place-items: center;

  overflow: hidden;
}

.slide-track {
  width: calc(310px*18);
  display: flex;
  animation: scroll 80s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-140px * 18));
  }
}

.slide {
  height: 416px;
  width: 310px;
  margin: 0 20px;
  padding: 0 5px;
  border-radius: 9px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  perspective: 100px;
}

.slide-img {
  width: 294px;
  height: 303px;
  object-fit: cover;
  border-radius: 8px;

  transition: transform 0.3s;
}

.highlights-bottom {
  margin-bottom: 13px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.highlights-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  margin: 8px;
}

.highlights-right {
  height: 107px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.highlight-name {
  font-size: 16px;
  color: var(--color4);
  max-width: 252px;
}

.highlights-prices {
  margin-bottom: -7px;
}

.highlights-prices .new-price {
  font-weight: 700;
  font-size: 24px;
  color: var(--color4);
  margin-right: 12px;
}

.highlights-prices .old-price {
  font-size: 14px;
  color: var(--color5);
  text-decoration: line-through;
}

.slide a {
  transition: transform 0.3s;
}

.slide a:hover {
  transform: translateZ(3.33px)
}

label {
  font-size: 26px;
}

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  /* margin-left: 2em; */
  position: relative;
  cursor: pointer;
}

.custom-checkbox .highlight-e,
highlight-f {
  color: var(--color4);
  position: absolute;
  /* margin-left: 17px; */
  margin-top: 10px;

  /* top: 35px; */
  /* left: -1.55em; */

}

.custom-checkbox,
.highlight-e,
.highlight-f {
  /* margin-top: 15px; */
  margin-right: 2px;
  /* margin-top: -15px; */
}

.custom-checkbox .highlight-e {
  position: absolute;
  /* margin-left: 17px; */
  color: var(--color1);
}

.custom-checkbox .highlight-f {
  /* top: 34px; */
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  /* transform: scale(1.05); */
  color: var(--color4);
  margin-top: 10px;
}

.custom-checkbox:hover .highlight-f {
  opacity: 0.5;
}

.custom-checkbox:hover .highlight-e {
  opacity: 0;
}

.custom-checkbox input[type="checkbox"]:checked~.highlight-f {
  opacity: 1;
}

.custom-checkbox input[type="checkbox"]:checked~.highlight-e {
  opacity: 0;
}

.highlights-cart {
  width: 27.77px;
  border: none;
  position: relative;
  right: 5px;
  margin-bottom: 5px;
}

/* HIGHLIGHTS ENDS */
/* HIGHLIGHTS ENDS */
/* HIGHLIGHTS ENDS */


/* BEST SELLERS STARTS */
/* BEST SELLERS STARTS */
/* BEST SELLERS STARTS */
#bestsellers>span {
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 34px;
  margin-left: 38px;
}

#bestsellers {
  margin: 82px auto 0 auto;
  /* margin: auto; */
  width: 1310px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.bestsellers-all {
  margin-top: 48px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.bestseller-item {
  height: 313px;
  width: 290px;

  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bestseller-item-top {
  width: 290px;
  height: 228px;
}

.bestseller-item-top .image {
  width: 290px;
  height: 228px;
  object-fit: cover;
}

.bestseller-item-bottom {
  width: 290px;
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20.5px;
  padding-bottom: 20.5px;
}

.bestseller-info {
  max-width: 226px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bestseller-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--color4);
  margin: 8px 0 0 12px;
}

.bestseller-prices {
  display: flex;
  align-items: center;
  margin-bottom: -15px;
}

.bestseller-price-new {
  color: var(--color4);
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.bestseller-price-old {
  font-size: 14px;
  color: var(--color5);
  margin-left: 15.85px;
  text-decoration: line-through;
}

.bestseller-buttons {
  width: 28.77px;
  height: 70px;
  position: relative;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-checkbox-3 {
  cursor: pointer;
  position: relative;
  top: 18px;
}

.custom-checkbox-3 .favourite-3-e {
  color: var(--color1);
  position: absolute;
  /* top: 20px; */
  /* margin-bottom: 30px; */
}

.custom-checkbox-3 .favourite-3-e,
.favourite-3-f {

  font-weight: 100;
  color: var(--color1);
  left: 0.3px;

  /* margin-bottom: -30px; */
}

.custom-checkbox-3 .favourite-3-f {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox-3:hover .favourite-3-f {
  opacity: 0.5;
}

.custom-checkbox-3:hover .favourite-3-e {
  opacity: 0;
}

.custom-checkbox-3 input[type="checkbox"]:checked~.favourite-3-f {
  opacity: 1;
}

.custom-checkbox-3 input[type="checkbox"]:checked~.favourite-3-e {
  opacity: 0;
}

.bestseller-cart {
  width: 28.77px;
  position: relative;
  top: 10px;
  border: none;
}

/* BEST SELLERS ENDS */
/* BEST SELLERS ENDS */
/* BEST SELLERS ENDS */


/* CATEGORIES STARTS */
/* CATEGORIES STARTS */
/* CATEGORIES STARTS */
#categories {
  margin: 82px auto 0 auto;
  width: 1300px;
}

.categories-title {
  margin: 0 0 58px 40px;

  font-size: 34px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

.categories-all {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories-top,
.categories-bottom {
  display: flex;
  flex-direction: row;
  margin: 0 174px;
}

.categories-bottom {
  margin-top: 80px;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 0 53.5px 0 0;
}

.category-name {
  color: black;
  font-size: 16px;
  line-height: 21.79px;
  text-align: center;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

/* CATEGORIES ENDS */
/* CATEGORIES ENDS */
/* CATEGORIES ENDS */

/* EXPLORE HERO STARTS */
/* EXPLORE HERO STARTS */
/* EXPLORE HERO STARTS */
#explore-hero {
  height: 437.11px;
  margin-top: 82px;

  background-image: url(../images/assets/explore-section.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.explore-hero-title {
  background: rgba(0, 0, 0, 0.3);
  width: 351px;
  height: 84px;
  backdrop-filter: blur(1.7px);
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);

  position: relative;
  top: 219px;
  left: 64px;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.explore-hero-message {
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  color: var(--color2);
  text-align: center;
  font-weight: 600;
  text-shadow: 2px 2px 5px black;
}

/* EXPLORE HERO ENDS */
/* EXPLORE HERO ENDS */
/* EXPLORE HERO ENDS */

/* EXPLORE STARTS */
/* EXPLORE STARTS */
/* EXPLORE STARTS */
#explore-title {
  display: inline-block;
  margin: 82px 0 48px 64px;

  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

#explore {
  width: 90%;
  /* max-width: 1310px; */
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.explore-all {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 14px;
  align-items: center;
  justify-content: center;
  row-gap: 38px;
}

button.explore-cart {
  border: none;
  width: 25px;
  position: relative;
  right: 1.4px;
  margin-bottom: 18px;
}

.explore-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 313px;
}

.explore-item {
  height: 313px;
  width: 290px;

  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.explore-item-top {
  width: 290px;
  height: 228px;
}

.explore-item-top .image {
  width: 290px;
  height: 228px;
  object-fit: cover;
}

.explore-item-bottom {
  width: 290px;
  height: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20.5px;
  padding-bottom: 20.5px;
}

.explore-info {
  max-width: 226px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explore-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: var(--color4);
  margin: 8px 0 0 12px;
}

.explore-prices {
  display: flex;
  align-items: center;
  margin-bottom: -15px;
}

.explore-price-new {
  color: var(--color4);
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.explore-price-old {
  font-size: 14px;
  color: var(--color5);
  margin-left: 15.85px;
  text-decoration: line-through;
}

.explore-buttons {
  width: 28.77px;
  height: 70px;
  position: relative;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-checkbox-2 {
  cursor: pointer;
  position: relative;
  top: 18px;
}

.glyphicon-heart {
  transform: scale(1.15);
}

.custom-checkbox-2 .favourite-2-e {
  color: var(--color1);
  position: absolute;
  /* top: 20px; */
  /* margin-bottom: 30px; */
}

.custom-checkbox-2 .favourite-2-e,
.favourite-2-f {

  font-weight: 100;
  color: var(--color1);
  left: 0.3px;

  /* margin-bottom: -30px; */
}

.custom-checkbox-2 .favourite-2-f {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox-2:hover .favourite-2-f {
  opacity: 0.5;
}

.custom-checkbox-2:hover .favourite-2-e {
  opacity: 0;
}

.custom-checkbox-2 input[type="checkbox"]:checked~.favourite-2-f {
  opacity: 1;
}

.custom-checkbox-2 input[type="checkbox"]:checked~.favourite-2-e {
  opacity: 0;
}

.explore-cart {
  width: 28.77px;
  position: relative;
  top: 10px;
}

.explore-more {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 48px auto 82px auto;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 10.5px 12px 10.5px 20px;
  border: 1px solid var(--color4);
  border-radius: 8px;
}

.explore-more:hover {
  text-decoration: none;
  color: var(--color4);
  transition: 0.2s;
}

.explore-more-icon {
  width: 20px;
  display: inline-block;
  position: relative;
  bottom: 1.8px;
}

.explore-item:nth-child(8)~.explore-item {
  display: none;
}

/* loader */
.loading {
  display: none;
  height: 32px;
  width: 32px;
  margin: auto;
  animation: loader1 3s linear infinite;
}

@keyframes loader1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.loading span {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 32px;
  height: 32px;
  clip: rect(16px, 32px, 32px, 0);
  animation: loader2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes loader2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading span::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border: 3px solid transparent;
  border-top: 3px solid white;
  border-radius: 50%;
  animation: loader3 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes loader3 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading span::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border: 3px solid var(--color4);
  border-radius: 50%;
}

.explore-more.show-loader {
  width: 52px;
  background-color: white;
  border: none;
  text-indent: -9999px;
}

.explore-more.show-loader .explore-more-icon {
  display: none;
}

.explore-more.show-loader .loading {
  display: block;
}

.load-more.loaded {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility .3s 3s, opacity .3s 3s, height .3s 3s;
}

/* EXPLORE ENDS */
/* EXPLORE ENDS */
/* EXPLORE ENDS */

/* FOOTER STARTS */
/* FOOTER STARTS */
/* FOOTER STARTS */
#footer {
  height: 373.9px;
  background-color: black;
  color: var(--color2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;

  width: 1210px;
  height: 195px;
}

.footer-col,
.footer-col-images {
  font-size: 14px;

  width: 155px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 23px;

  position: relative;
  top: 124px;
}

.footer-col-images {
  height: 130px;
  row-gap: 12px;
}

.footer-col-title {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;

}

.footer-logo {
  width: 174px;
  height: 46px;
  position: relative;
  bottom: 22px;
}

/* FOOTER ENDS */
/* FOOTER ENDS */
/* FOOTER ENDS */