{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<!-- adicionar em Product 'seller', 'about', 'details', 'reviews' -->
<!-- change show more button -->

<main id="product-page">
  <!-- menu starts -->
  <div class="product-link-path">
    <a href="#">{{ product.category }}</a><span>&nbsp;>&nbsp;</span>
    <a href="#">{{ product.name }}</a>
  </div>
  <!-- menu ends -->

  <!-- product starts -->
  <div class="product">

    <!-- product header starts -->
    <div class="product-top">
      <div class="product-name">
        <span>{{ product.name }}</span>

        <label for="product-favorite-1" class="custom-checkbox-4">
          <input type="checkbox" id="product-favorite-1">
          <i class="product-e glyphicon glyphicon-heart-empty"></i>
          <i class="product-f glyphicon glyphicon-heart"></i>
        </label>
      </div>

      <div class="stars">
        <img src="{% static 'images/assets/product/star.png' %}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png' %}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png' %}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png' %}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png' %}" alt="star" class="star">
        <span> 5 &lpar;32 ratings&rpar;</span>
      </div>
    </div>
    <!-- product header ends -->

    <!-- product main starts -->
    <div class="product-main">
      <!-- product images starts -->
      <div class="product-main-images">
        <img class="product-main-images-lg" src="{{ product.image.url }}">
        <div class="product-main-images-sm-container">
          <img class="product-main-images-sm-1" src="{% static 'images/assets/product/product-img-sm-1.png' %}">
          <img class="product-main-images-sm-2" src="{% static 'images/assets/product/product-img-sm-2.png' %}">
          <img class="product-main-images-sm-3" src="{% static 'images/assets/product/product-img-sm-3.png' %}">
          <img class="product-main-images-sm-4" src="{% static 'images/assets/product/product-img-sm-4.png' %}">
        </div>
      </div>
      <!-- product images ends -->

      <!-- product info starts -->
      <div class="product-main-info">

        <div class="product-main-info-prices">
          {% if product.discount %}
          <span class="new-price">€ {{ product.discount_price|floatformat:2 }}</span>
          <span class="old-price">€ {{ product.price|floatformat:2 }}</span>
          {% else %}
          <span class="new-price">€ {{ product.price|floatformat:2 }}</span>
          {% endif %}
        </div>

        {% if product.digital %}
        <span class="digital">Digital product</span>
        {% else %}
        <span class="digital">Physical product</span>
        {% endif %}

        <span class="info">Sold by: {{ product.seller }}</span>
        <span class="info">Delivery time: {{ delivery_time }}</span>
        <span class="info">Return, Refund or Replacement within 14 days of receipt</span>

        <div class="cart-button">
          <!-- <a href="#"><img src="{% static 'images/assets/shopping-cart.png' %}" alt="">Add to cart</a> -->
          <button id="add-cart" data-product="{{ product.id }}" data-action="add" class="update-cart explore-cart"><img
              src="{% static 'images/assets/highlight-cart.png' %}" alt="cart-icon">Add to cart</button>
        </div>
      </div>
      <!-- product info ends -->
    </div>
    <!-- product main ends -->

  </div>
  <!-- product ends -->

  <!-- about starts -->
  <div class="about">
    <span class="title">About this product</span>
    <p class="body">{{ product.about|linebreaksbr}}</p>
  </div>
  <!-- about ends -->

  <!-- details starts -->
  <div class="details">
    <span class="title">Product details</span>
    <ul class="body">
      {% for line in description_lines %}
      <li><span>{{ line }}</span></li>
      {% endfor %}
    </ul>
  </div>
  <!-- details ends -->

  <!-- reviews starts -->
  <div class="reviews">
    <span class="title">Clients reviews</span>
    <div class="all-reviews">

      {% for review in reviews %}
      <!-- review 1 left -->
      <div class="review">
        <div class="top">
          <div class="review-stars">
            <img src="{% static 'images/assets/product/star-sm.png' %}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star-sm.png' %}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star-sm.png' %}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star-sm.png' %}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star-sm.png' %}" alt="star" class="star">
          </div>
          <!-- <span class="name">{{ review_1.user|truncatechars:20 }}</span> -->
          <span>{{ review.date|timesince }} ago</span>

        </div>


        <div class="middle">
          <span>{{ review.body }}</span>
        </div>

        <div class="bottom">
          <span class="recommend">Recommend this product?</span>
          {% if review.recommend %}
          <span class="answer">&#10003; Yes</span>
          {% else %}
          <span class="answer">&#10005; No</span>
          {% endif %}
        </div>
      </div>
      <!--  -->
      {% endfor %}

    </div>
    <!--  -->


    <div class="footnotes">
      <span class="total-left">{{ reviews_length }} reviews</span>
      <div class="bottom-right">

        <a href="javascript:;" class="reviews-more">See more <span class="loading-2"><span></span></span><img
            class="reviews-more-icon" src="{% static 'images/assets/chevron-down-black.png' %}" alt="chevron-down"></a>

      </div>
    </div>

  </div>
  <!-- reviews ends -->



  <!-- related starts -->
  <div class="related">
    <span class="title">Discover related products</span>
    <div class="related-products">

      {% for product in related_products %}
      <div class="related-product">
        <div class="top">
          <a href="{% url 'product' pk=product.id %}"><img class="related-product-image" src="{{ product.image.url }}" alt="product-image"></a>
          <span>{{ product.name }}</span>
        </div>
        <div class="bottom">
          {% if product.discount %}
          <span class="new-price">€ {{ product.discount_price|floatformat:2 }}</span>
          <span class="old-price">€ {{ product.price|floatformat:2 }}</span>
          {% else %}
          <span class="new-price">€ {{ product.price|floatformat:2 }}</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
  <!-- related ends -->

  <!-- bought starts -->
  <div class="bought">
    <span class="title">Customers also bought</span>
    <div class="bought-products">

      {% for product in customer_bought %}
      <div class="bought-product">
        <div class="top">
          <a href="{% url 'product' pk=product.id %}"><img class="bought-product-image" src="{{ product.image.url }}" alt="product-image"></a>
          <span>{{ product.name }}</span>
        </div>
        <div class="bottom">
          {% if product.discount %}
          <span class="new-price">€ {{ product.discount_price|floatformat:2 }}</span>
          <span class="old-price">€ {{ product.price|floatformat:2 }}</span>
          {% else %}
          <span class="new-price">€ {{ product.price|floatformat:2 }}</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
  <!-- bought ends -->
</main>

<script>
  const reviewsMore = document.querySelector('.reviews-more');
  const totalReviews = document.querySelector('.total-reviews');
  let currentItems = 4;

  reviewsMore.addEventListener('click', (e) => {
    const elementList = [...document.querySelectorAll('.review')];
    e.target.classList.add('show-loader');

    for (let i = currentItems; i < currentItems + 4; i++) {
      setTimeout(function () {
        e.target.classList.remove('show-loader');

        if (elementList[i]) {
          elementList[i].style.display = 'flex';
        }
      }, 1300)
    }
    currentItems += 4;


    // hide load button after fully load items
    if (currentItems >= elementList.length) {
      event.target.classList.add('loaded')
    }

  })
</script>





  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3A9W6k1c+JDeAeK6cQ/2RSx2eTfnI+cmDAwsGAdmPNO6Deq0D5pw9EeDh" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"
    integrity="sha384-c55K8v9pZuYUKJ3kp0t+kwV6x8Pdeat6oqLvD61LMLrEvFeHiDYHpO2W1Iok6J/t" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


{% endblock content %}