{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<!-- adicionar em Product 'seller', 'about', 'details', 'reviews' -->
<!-- change show more button -->

<main id="product-page">
  <!-- menu starts -->
  <div class="product-link-path">
    <a href="{% url 'category' pk=product.category %}">{{product.category}} >&nbsp;</a>
    {% comment %} <a href="#">Teddy Bears >&nbsp;</a> {% endcomment %}
    <a href="{% url 'product' pk=product.id %}">{{product.name}}</a>
  </div>
  <!-- menu ends -->

  <!-- product starts -->
  <div class="product">

    <!-- product header starts -->
    <div class="product-top">
      <div class="product-name">
        <span>{{product.name}}</span>

        <label for="product-favorite-{product.id}" class="custom-checkbox-4">
          <input type="checkbox" id="product-favorite-{product.id}">
          <i class="product-e glyphicon glyphicon-heart-empty"></i>
          <i class="product-f glyphicon glyphicon-heart"></i>
        </label>
      </div>

      <div class="stars">
        {% if product.rating_score > 80 %}
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <span> 5 &lpar;{{product.total_ratings}} ratings&rpar;</span>
        {% elif product.rating_score > 60 %}
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <span> 4 &lpar;{{product.total_ratings}} ratings&rpar;</span>
        {% elif product.rating_score > 40 %}
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <span> 3 &lpar;{{product.total_ratings}} ratings&rpar;</span>
        {% elif product.rating_score > 20 %}
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <span> 2 &lpar;{{product.total_ratings}} ratings&rpar;</span>
        {% elif product.rating_score < 20 %}
        <img src="{% static 'images/assets/product/star-sm.png'%}" alt="star" class="star">
        <span> 1 &lpar;{{product.total_ratings}} ratings&rpar;</span>
        {% endif %}
        
      </div>
    </div>
    <!-- product header ends -->

    <!-- product main starts -->
    <div class="product-main">
      <!-- product images starts -->
      <div class="product-main-images">
        <div class="product-main-images-lg"><img id="productBigImage" src="{{product.image.url}}" alt="Product {{product.name}} image"></div>
        <div class="product-main-images-sm-container">
          <div class="product-main-images-sm-1"><img id="productSmallImage1" src="{% static 'images/assets/product/product-img-lg.png' %}" alt="Product {{product.name}} image"></div>
          <div class="product-main-images-sm-2"><img id="productSmallImage2" src="{% static 'images/assets/product/product-img-sm-2.png' %}" alt="Product {{product.name}} image"></div>
          <div class="product-main-images-sm-3"><img id="productSmallImage3" src="{% static 'images/assets/product/product-img-sm-3.png' %}" alt="Product {{product.name}} image"></div>
          <div class="product-main-images-sm-4"><img id="productSmallImage4" src="{% static 'images/assets/product/product-img-sm-4.png' %}" alt="Product {{product.name}} image"></div>
        </div>
      </div>
      <!-- product images ends -->

      <!-- product info starts -->
      <div class="product-main-info">
        {% if product.discount %}
        <div class="product-main-info-prices">
          <span class="new-price">€ {{product.discount_price|floatformat:2}}</span>
          <span class="old-price">€ {{product.price|floatformat:2}}</span>
        </div>
        {% else %}
        <div class="product-main-info-prices">
          <span class="new-price">€ {{product.price|floatformat:2}}</span>
          {% comment %} <span class="old-price">€ 6,00</span> {% endcomment %}
        </div>
        {% endif %}

        {% if product.digital %}
        <span class="digital">Digital product</span>
        {% else %}
        <span class="digital">Physical product</span>
        {% endif %}

        <span class="info">Sold by: {{product.seller|capfirst}}</span>
        <span class="info">Delivery time: {{delivery_time}}</span>
        {% comment %} <span class="info">Options &lpar;it depends on the product&rpar;</span> {% endcomment %}
        {% comment %} <span class="info">Eligible for return, refund or replacement within 14 days of receipt</span> {% endcomment %}

        <span class="further-info">Eligible for return, refund or replacement within 14 days of receipt</span>
        {% comment %} <span class="further-info-2">Exercitation ullamco laboris nisi ut aliquip</span> {% endcomment %}

        <div class="cart-button">
          <button id="add-cart" data-product="{{ product.id }}" data-action="add" class="update-cart explore-cart"><img
            src="{% static 'images/assets/shopping-cart.png' %}" alt="cart-icon">Add to cart</button>
        </div>
      </div>
      <!-- product info ends -->
    </div>
    <!-- product main ends -->

  </div>
  <!-- product ends -->

  <!-- about starts -->
  <div class="about">
    <span class="title">About this product</span>
    <div class="body">{{product.about|linebreaks}}</div>
  </div>
  <!-- about ends -->

  <!-- details starts -->
  <div class="details">
    <span class="title">Product details</span>
    <div class="body">
      {{product.description|linebreaks}}
    </div>
  </div>
  <!-- details ends -->

  <!-- reviews starts -->
  <div class="reviews">
    <span class="title">Clients reviews</span>
    <div class="all-reviews">
      <div class="reviews-left">

        {% for review in reviews_left %}
        <!-- review 1 left -->
        <div class="review">
          <div class="top">
          <div class="review-stars">
            {% if review.rating > 80 %}
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        {% elif review.rating > 60 %}
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        {% elif review.rating > 40 %}
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        {% elif review.rating > 20 %}
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        {% elif review.rating < 20 %}
        <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
        {% endif %}
      </div>
            <span class="name">{{review.user}}</span>
            <ul>
              <li><span>{{review.date|timesince}}</span></li>
            </ul>
          </div>

          <div class="middle">
            {{review.body|linebreaks|title}}
          </div>

          <div class="bottom">
            <span class="recommend">Recommend this product?</span>
            {% if review.recommend %}
            <span class="answer">&#10003; Yes</span>
            {% else %}
            <span class="answer">&#10005; No</span>
            {% endif %}
          </div>
          <hr>
        </div>

        {% endfor %}

      </div>

      <div class="reviews-right">

        {% for review in reviews_right %}
        <!-- review 1 left -->
        <div class="review">
          <div class="top">
          <div class="review-stars">
            {% if review.rating > 80 %}
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            {% elif review.rating > 60 %}
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            {% elif review.rating > 40 %}
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            {% elif review.rating > 20 %}
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            {% elif review.rating < 20 %}
            <img src="{% static 'images/assets/product/star.png'%}" alt="star" class="star">
            {% endif %}
          </div>
            <span class="name">{{review.user}}</span>
            <ul>
              <li><span>{{review.date|timesince}}</span></li>
            </ul>
          </div>

          <div class="middle">
            {{review.body|linebreaks|title}}
          </div>

          <div class="bottom">
            <span class="recommend">Recommend this product?</span>
            {% if review.recommend %}
            <span class="answer">&#10003; Yes</span>
            {% else %}
            <span class="answer">&#10005; No</span>
            {% endif %}
          </div>
          <hr>
        </div>
        
        {% endfor %}

      </div>

    </div>
    <div class="footnotes">
      <span class="bottom-left">{{reviews_length}} ratings</span>
      <div class="bottom-right">
        <a href="#"><img src="{% static 'images/assets/product/previous.png' %}" alt="previous"></a>
        <a href="#"><img src="{% static 'images/assets/product/next.png' %}" alt="next"></a>
      </div>
    </div>

  </div>
  <!-- reviews ends -->

  <!-- related starts -->
  <div class="related">
    <span class="title">Discover related products</span>
    <div class="related-products">
      {% for product in related_products %}

      <div class="related-product">
        <a href="{% url 'product' pk=product.id %}">
          <div class="top">
            <div class="related-product-image"><img src="{{product.image.url}}" alt='Product "{{product.name}}" image'></div>
            <span>{{product.name}}</span>
          </div>
        </a>

        <div class="bottom">
          {% if product.discount %}
          <div class="product-main-info-prices">
            <span class="new-price">€ {{product.discount_price|floatformat:2}}</span>
            <span class="old-price">€ {{product.price|floatformat:2}}</span>
          </div>
          {% else %}
          <div class="product-main-info-prices">
            <span class="new-price">€ {{product.price|floatformat:2}}</span>
            {% comment %} <span class="old-price">€ 6,00</span> {% endcomment %}
          </div>
          {% endif %}
        </div>

      </div>

      {% endfor %}
    </div>
  </div>
  <!-- related ends -->

  <!-- bought starts -->
  <div class="bought">
    <span class="title">Customers also bought</span>
    <div class="bought-products">
      {% for product in customer_bought %}

      <div class="bought-product">
        <a href="{% url 'product' pk=product.id %}">
          <div class="top">
            <div class="bought-product-image"><img src="{{product.image.url}}" alt='Product "{{product.name}}" image'></div>
            <span>{{product.name}}</span>
          </div>
        </a>
        <div class="bottom">
          {% if product.discount %}
          <div class="product-main-info-prices">
            <span class="new-price">€ {{product.discount_price|floatformat:2}}</span>
            <span class="old-price">€ {{product.price|floatformat:2}}</span>
          </div>
          {% else %}
          <div class="product-main-info-prices">
            <span class="new-price">€ {{product.price|floatformat:2}}</span>
            {% comment %} <span class="old-price">€ 6,00</span> {% endcomment %}
          </div>
          {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  <!-- bought ends -->
</main>



<script>
  const reviewsMore = document.querySelector('.reviews-more');
  const totalReviews = document.querySelector('.total-reviews');
  let currentItems = 4;

  reviewsMore.addEventListener('click', (e) => {
    const elementList = [...document.querySelectorAll('.review')];
    e.target.classList.add('show-loader');

    for (let i = currentItems; i < currentItems + 4; i++) {
      setTimeout(function () {
        e.target.classList.remove('show-loader');

        if (elementList[i]) {
          elementList[i].style.display = 'flex';
        }
      }, 1300)
    }
    currentItems += 4;


    // hide load button after fully load items
    if (currentItems >= elementList.length) {
      event.target.classList.add('loaded')
    }

  })
</script>





  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3A9W6k1c+JDeAeK6cQ/2RSx2eTfnI+cmDAwsGAdmPNO6Deq0D5pw9EeDh" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"
    integrity="sha384-c55K8v9pZuYUKJ3kp0t+kwV6x8Pdeat6oqLvD61LMLrEvFeHiDYHpO2W1Iok6J/t" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


{% endblock content %}