{% extends 'base.html' %}


{% block content %}

<main>

  <section id="categories">
    <!-- categories hero starts -->
    <div class="categories-hero">
      <div class="categories-hero-title">
        <span>Toys & Kids</span>
      </div>
    </div>
    <!-- categories hero ends -->

    <!-- categories menu starts -->
    <div class="categories-menu">
      <a class="categories-menu-item-1" href="#">
        <span>Product type</span><img src="../static/images/assets/chevron-down-black.png" alt="chevron-black">
      </a>
      <a class="categories-menu-item-2" href="#">
        <span>Price</span><img src="../static/images/assets/chevron-down-black.png" alt="chevron-black">
      </a>
      <a class="categories-menu-item-3" href="#">
        <span>Order by</span><img src="../static/images/assets/chevron-down-black.png" alt="chevron-black">
      </a>

      <span class="categories-menu-item-4">Total of {{ products_count }} products</span>
    </div>
    <!-- categories menu ends -->

    <!-- art starts -->
    <img class="background-art" src="../static/images/assets/categories/background-pattern.png" alt="pattern">
    <!-- art ends -->

    <!-- categories items starts -->
    <div class="categories-rows">

      <!-- row 1 -->
      <div class="categories-rows">
        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>

        <div class="categories-row-item">
          <div class="categories-item-image categories-1">
            <a href="#"><img src="../static/images/assets/explore-item-1.png" alt="Explore 1"></a>
          </div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty categories-e"></i>
                  <i class="glyphicon glyphicon-heart categories-f"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img class="category-cart" src="../static/images/assets/shopping-cart.png" alt="">Add to
                cart</a>
            </div>
          </div>
        </div>
      </div>


      <!-- categories items ends -->

      <div class="categories-next-button">
        <a href="javascript:;" class="category-more">See more <span class="loading-3"><span></span></span><img
            class="category-more-icon" src="../static/images/assets/chevron-down-black.png" alt="chevron-down"></a>
      </div>
  </section>
</main>

{% endblock content %}