{% extends 'navbar2.html' %}

{% block content %}

<main id="product-page">
  <!-- menu starts -->
  <div class="product-link-path">
    <a href="#">Toys & Kids >&nbsp;</a>
    <a href="#">Teddy Bears >&nbsp;</a>
    <a href="#">Product's Name</a>
  </div>
  <!-- menu ends -->

  <!-- product starts -->
  <div class="product">

    <!-- product header starts -->
    <div class="product-top">
      <div class="product-name">
        <span>Product's Name</span>

        <label for="product-favorite-1" class="custom-checkbox-4">
          <input type="checkbox" id="product-favorite-1">
          <i class="product-e glyphicon glyphicon-heart-empty"></i>
          <i class="product-f glyphicon glyphicon-heart"></i>
        </label>
      </div>

      <div class="stars">
        <img src="../static/images/assets/product/star.png" alt="star" class="star">
        <img src="../static/images/assets/product/star.png" alt="star" class="star">
        <img src="../static/images/assets/product/star.png" alt="star" class="star">
        <img src="../static/images/assets/product/star.png" alt="star" class="star">
        <img src="../static/images/assets/product/star.png" alt="star" class="star">
        <span> 5 &lpar;32 ratings&rpar;</span>
      </div>
    </div>
    <!-- product header ends -->

    <!-- product main starts -->
    <div class="product-main">
      <!-- product images starts -->
      <div class="product-main-images">
        <div class="product-main-images-lg"></div>
        <div class="product-main-images-sm-container">
          <div class="product-main-images-sm-1"></div>
          <div class="product-main-images-sm-2"></div>
          <div class="product-main-images-sm-3"></div>
          <div class="product-main-images-sm-4"></div>
        </div>
      </div>
      <!-- product images ends -->

      <!-- product info starts -->
      <div class="product-main-info">

        <div class="product-main-info-prices">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>

        <span class="digital">Physical or digital product</span>
        <span class="info">Sold by: Seller's Name</span>
        <span class="info">Delivery time</span>
        <span class="info">Options &lpar;it depends on the product&rpar;</span>
        <span class="info">Eligible for Return, Refund or Replacement within 14 days of receipt</span>

        <span class="further-info">Exercitation ullamco laboris nisi ut aliquip</span>
        <span class="further-info-2">Exercitation ullamco laboris nisi ut aliquip</span>

        <div class="cart-button">
          <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
        </div>
      </div>
      <!-- product info ends -->
    </div>
    <!-- product main ends -->

  </div>
  <!-- product ends -->

  <!-- about starts -->
  <div class="about">
    <span class="title">About this product</span>
    <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <!-- about ends -->

  <!-- details starts -->
  <div class="details">
    <span class="title">Product details</span>
    <ul class="body">
      <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing</span></li>
      <li><span>Elit sed do eiusmod tempor incididunt</span></li>
      <li><span>Ut labore et dolore magna aliqua. Ut enim ad minim</span></li>
      <li><span>Veniam, quis nostrud exercitation ullamco</span></li>
      <li><span>Laboris nisi ut aliquip ex ea commodo consequat</span></li>
      <li><span>Duis aute irure dolor in reprehenderit in voluptate</span></li>
      <li><span>Velit esse cillum dolore eu fugiat nulla pariatur</span></li>
      <li><span>Excepteur sint occaecat cupidatat non proident, sunt</span></li>
      <li><span>In culpa qui officia deserunt mollit anim id est laborum.</span></li>
      <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</span></li>
    </ul>
  </div>
  <!-- details ends -->

  <!-- reviews starts -->
  <div class="reviews">
    <span class="title">Clients reviews</span>
    <div class="all-reviews">
      <div class="reviews-left">

        <!-- review 1 left -->
        <div class="review">
          <div class="top">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <span class="name">Customer's Name</span>
            <ul>
              <li><span>4 months ago</span></li>
            </ul>
          </div>

          <div class="middle">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur
              sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>

          <div class="bottom">
            <span class="recommend">Recommend this product?</span>
            <span class="answer">&#10003; Yes</span>
          </div>
        </div>

        <!-- review 2 left -->
        <div class="review">
          <div class="top">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <span class="name">Customer's Name</span>
            <ul>
              <li><span>4 months ago</span></li>
            </ul>
          </div>

          <div class="middle">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur
              sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>

          <div class="bottom">
            <span class="recommend">Recommend this product?</span>
            <span class="answer">&#10003; Yes</span>
          </div>
        </div>

      </div>

      <div class="reviews-right">

        <!-- review 1 right -->
        <div class="review">
          <div class="top">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <span class="name">Customer's Name</span>
            <ul>
              <li><span>4 months ago</span></li>
            </ul>
          </div>

          <div class="middle">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur
              sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>

          <div class="bottom">
            <span class="recommend">Recommend this product?</span>
            <span class="answer">&#10005; No</span>
          </div>
        </div>

        <!-- review 2 right -->
        <div class="review">
          <div class="top">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <img src="../static/images/assets/product/star-sm.png" alt="star" class="star">
            <span class="name">Customer's Name</span>
            <ul>
              <li><span>4 months ago</span></li>
            </ul>
          </div>

          <div class="middle">
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur
              sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
          </div>

          <div class="bottom">
            <span class="recommend">Recommend this product?</span>
            <span class="answer">&#10005; No</span>
          </div>
        </div>
      </div>

    </div>
    <div class="footnotes">
      <span class="bottom-left">1-4 out of 32 ratings</span>
      <div class="bottom-right">
        <a href="#"><img src="../static/images/assets/product/previous.png" alt="previous"></a>
        <a href="#"><img src="../static/images/assets/product/next.png" alt="next"></a>
      </div>
    </div>

  </div>
  <!-- reviews ends -->

  <!-- related starts -->
  <div class="related">
    <span class="title">Discover related products</span>
    <div class="related-products">

      <div class="related-product">
        <div class="top">
          <div class="related-product-image image-1"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>

      <div class="related-product">
        <div class="top">
          <div class="related-product-image image-2"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>

      <div class="related-product">
        <div class="top">
          <div class="related-product-image image-3"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>

      <div class="related-product">
        <div class="top">
          <div class="related-product-image image-4"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>

      <div class="related-product">
        <div class="top">
          <div class="related-product-image image-5"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- related ends -->

  <!-- bought starts -->
  <div class="bought">
    <span class="title">Customers also bought</span>
    <div class="bought-products">

      <div class="bought-product">
        <div class="top">
          <div class="bought-product-image image-1"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>

      <div class="bought-product">
        <div class="top">
          <div class="bought-product-image image-2"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>

      <div class="bought-product">
        <div class="top">
          <div class="bought-product-image image-3"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>

      <div class="bought-product">
        <div class="top">
          <div class="bought-product-image image-4"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>

      <div class="bought-product">
        <div class="top">
          <div class="bought-product-image image-5"></div>
          <span>Product name lorem ipsum lorem ipsum lorem ipsum</span>
        </div>
        <div class="bottom">
          <span class="new-price">€ 3,00</span>
          <span class="old-price">€ 6,00</span>
        </div>
      </div>
    </div>
  </div>
  <!-- bought ends -->
</main>

{% endblock content %}