{% extends 'base.html' %}
{% load static %}

<!-- tornar o link para 'explore' funcional -->
 <!-- consertar o column gap entre right e left, deixando responsivo -->


 {% comment %} OK {% endcomment %}
 {% comment %} 
   {% comment %} <style>
      .inline {
          max-width: 100%;
          display: inline;
      }

      .inline p {
          display: inline;
          font-size: 130%;
      }
  </style>


  <h1>Cart</h1>
  <h2>Total items: <span id="total-cart-quantity">{{ order.get_cart_quantity }}</span></h2>
  <h2>Total value: <span id="cart-total">${{ order.get_cart_total|floatformat:2 }}</span></h2>

  <p><strong>{{ order.user }} | {{ order.complete }} | {{ order.transaction_id }}</strong></p>
  <hr>
  <div>
    <div>
      <br>
      <br>
      <br>
      <br>
      {% for item in items %}
        <div class="inline" id="{{ item.product.id }}">
          <p><strong>Item:</strong> {{ item.product.name }}&nbsp;&nbsp; | &nbsp;&nbsp;</p>
          {% if item.product.discount %}
            <p><strong>Price:</strong>${{ item.product.discount_price|floatformat:2 }}&nbsp;&nbsp; | &nbsp;&nbsp;</p>
          {% else %}
            <p><strong>Price:</strong>${{ item.product.price }}&nbsp;&nbsp; | &nbsp;&nbsp;</p>
          {% endif %}
          <p><strong>Quantity:</strong> <span id="order-items-count">{{ item.quantity }}</span>&nbsp;&nbsp; | &nbsp;&nbsp;<button
              data-product="{{ item.product.id }}" data-action="add" class="update-cart">+
          </button>
            <button data-product="{{ item.product.id }}" data-action="remove" class="update-cart">-</button> &nbsp;&nbsp;
          </p>
          <p><strong>Total:</strong> <span id="order-items-total">${{ item.get_total_value }}</span>&nbsp;&nbsp; |
            &nbsp;&nbsp;</p>
          <br>
          <hr>
          <br>
        </div>

      {% endfor %}
    </div>
    <a href="{% url 'checkout' %}">Checkout</a>
  </div> {% endcomment %} {% endcomment %}

{% block content %}

<main id="cart">
  <div class="cart-page-container">
    <div class="left">
      <span>Your shopping cart</span>
      <div class="cart-container">
        <img src="{% static 'images/assets/cart/cart-empty.png' %}" alt="cart-empty">
        <span class="empty-title">Your LuxNexus cart is empty</span>

        <div class="empty-cart-buttons">
          <a class="empty-cart-button-explore" href="{% url 'home' %}#explore-title">Discover today's highlights</a>
        </div>
      </div>
    </div>
    <div class="right">
      <span>Explore our products</span>
      <div class="explore-container">


        <div class="cart-explore-item">
          <img src="{% static 'images/assets/cart/explore.png' %}" alt="explore-item">
          <div class="info">
            <span class="name">Product name lorem impsum lorem ipsum...</span>
            <div class="bottom">
              <div class="left">
                <span class="price-old">€ 6,00</span>
                <span class="price-new">€ 3,00</span>
              </div>
              <div class="right">
                <label for="bestseller-favorite-{{product.id}}" class="custom-checkbox-cart">
                  <input type="checkbox" id="bestseller-favorite-{{product.id}}">
                  <i class="cart-e glyphicon glyphicon-heart-empty"></i>
                  <i class="cart-f glyphicon glyphicon-heart"></i>
                </label>
                <button id="add-cart" data-product="{{ product.id }}" data-action="add"
                  class="update-cart cart-cart"><img src="{% static 'images/assets/highlight-cart.png' %}"
                    alt="cart-icon"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="cart-explore-item">
          <img src="{% static 'images/assets/cart/explore.png' %}" alt="explore-item">
          <div class="info">
            <span class="name">Product name lorem impsum lorem ipsum...</span>
            <div class="bottom">
              <div class="left">
                <span class="price-old">€ 6,00</span>
                <span class="price-new">€ 3,00</span>
              </div>
              <div class="right">
                <label for="bestseller-favorite-{{product.id}}" class="custom-checkbox-cart">
                  <input type="checkbox" id="bestseller-favorite-{{product.id}}">
                  <i class="cart-e glyphicon glyphicon-heart-empty"></i>
                  <i class="cart-f glyphicon glyphicon-heart"></i>
                </label>
                <button id="add-cart" data-product="{{ product.id }}" data-action="add"
                  class="update-cart cart-cart"><img src="{% static 'images/assets/highlight-cart.png' %}"
                    alt="cart-icon"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="cart-explore-item">
          <img src="{% static 'images/assets/cart/explore.png' %}" alt="explore-item">
          <div class="info">
            <span class="name">Product name lorem impsum lorem ipsum...</span>
            <div class="bottom">
              <div class="left">
                <span class="price-old">€ 6,00</span>
                <span class="price-new">€ 3,00</span>
              </div>
              <div class="right">
                <label for="bestseller-favorite-{{product.id}}" class="custom-checkbox-cart">
                  <input type="checkbox" id="bestseller-favorite-{{product.id}}">
                  <i class="cart-e glyphicon glyphicon-heart-empty"></i>
                  <i class="cart-f glyphicon glyphicon-heart"></i>
                </label>
                <button id="add-cart" data-product="{{ product.id }}" data-action="add"
                  class="update-cart cart-cart"><img src="{% static 'images/assets/highlight-cart.png' %}"
                    alt="cart-icon"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="cart-explore-item">
          <img src="{% static 'images/assets/cart/explore.png' %}" alt="explore-item">
          <div class="info">
            <span class="name">Product name lorem impsum lorem ipsum...</span>
            <div class="bottom">
              <div class="left">
                <span class="price-old">€ 6,00</span>
                <span class="price-new">€ 3,00</span>
              </div>
              <div class="right">
                <label for="bestseller-favorite-{{product.id}}" class="custom-checkbox-cart">
                  <input type="checkbox" id="bestseller-favorite-{{product.id}}">
                  <i class="cart-e glyphicon glyphicon-heart-empty"></i>
                  <i class="cart-f glyphicon glyphicon-heart"></i>
                </label>
                <button id="add-cart" data-product="{{ product.id }}" data-action="add"
                  class="update-cart cart-cart"><img src="{% static 'images/assets/highlight-cart.png' %}"
                    alt="cart-icon"></button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</main>

{% endblock content %}