{% extends 'navbar2.html' %}

{% block content %}

<main>

  <section id="categories">
    <!-- categories hero starts -->
    <div class="categories-hero">
      <div class="categories-hero-title">
        <span>Toys & Kids</span>
      </div>
    </div>
    <!-- categories hero ends -->

    <!-- categories menu starts -->
    <div class="categories-menu">
      <a class="categories-menu-item-1" href="#">
        <span>Product type</span><img src="../static/images/assets/chevron-down-black.png" alt="chevron-black">
      </a>
      <a class="categories-menu-item-2" href="#">
        <span>Price</span><img src="../static/images/assets/chevron-down-black.png" alt="chevron-black">
      </a>
      <a class="categories-menu-item-3" href="#">
        <span>Order by</span><img src="../static/images/assets/chevron-down-black.png" alt="chevron-black">
      </a>

      <span class="categories-menu-item-4">40 of 320 products</span>
    </div>
    <!-- categories menu ends -->

    <!-- art starts -->
    <img class="background-art" src="../static/images/assets/categories/background-pattern.png" alt="pattern">
    <!-- art ends -->

    <!-- categories items starts -->
    <div class="categories-rows">

      <!-- row 1 -->
      <div class="categories-row">
        <div class="categories-row-item">
          <div class="categories-item-image categories-1"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-1" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-1">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>

        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-1"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-2" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-2">
                  <i class="categories-e glyphicon glyphicon-heart-empty"></i>
                  <i class="categories-f glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-1"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-3" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-3">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-1"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-4" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-4">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
      </div>

      <!-- row 2 -->
      <div class="categories-row">
        <div class="categories-row-item">
          <div class="categories-item-image categories-2"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-5" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-5">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-2"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-6" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-6">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-2"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-7" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-7">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-2"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-8" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-8">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
      </div>

      <!-- row 3 -->
      <div class="categories-row">
        <div class="categories-row-item">
          <div class="categories-item-image categories-3"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-9" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-9">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-3"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-10" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-10">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-3"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-11" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-11">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-3"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-12" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-12">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
      </div>

      <!-- row 4 -->
      <div class="categories-row">
        <div class="categories-row-item">
          <div class="categories-item-image categories-4"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-13" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-13">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-4"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-14" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-14">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-4"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-15" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-15">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-4"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-16" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-16">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
      </div>

      <!-- row 5 -->
      <div class="categories-row">
        <div class="categories-row-item">
          <div class="categories-item-image categories-5"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-17" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-17">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-5"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-18" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-18">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-5"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-19" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-19">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-5"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-20" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-20">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
      </div>

      <!-- row 6 -->
      <div class="categories-row">
        <div class="categories-row-item">
          <div class="categories-item-image categories-6"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-21" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-21">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-6"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-22" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-22">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-6"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-23" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-23">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-6"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-24" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-24">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
      </div>

      <!-- row 7 -->
      <div class="categories-row">
        <div class="categories-row-item">
          <div class="categories-item-image categories-7"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-25" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-25">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-7"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-26" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-26">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-7"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-27" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-27">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
        <div class="categories-row-item">
          <div class="categories-item-image categories-7"></div>
          <div class="categories-item-info">
            <div class="categories-item-info-top">
              <div class="categories-item-info-top-left">
                <span class="categories-price-old">€ 3,00</span>
                <span class="categories-price-new">€ 3,00</span>
                <span class="categories-description">Product name lorem ipsum lorem ipsum lorem ipsum lorem ipsum</span>
              </div>
              <div class="categories-item-info-top-right">
                <label for="categories-favorite-28" class="custom-checkbox-3">
                  <input type="checkbox" id="categories-favorite-28">
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <i class="glyphicon glyphicon-heart"></i>
                </label>
              </div>
            </div>
            <div class="categories-item-info-bottom">
              <a href="#"><img src="../static/images/assets/shopping-cart.png" alt="">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- categories items ends -->

    <div class="categories-next-button">
      <a href="#">See more <img src="../static/images/assets/chevron-down-black.png" alt="chevron-black"></a>
    </div>
  </section>
</main>

{% endblock content %}