{% extends 'base.html' %}

{% block content %}

<main id="authentication">
  <span class="title">Sign in</span>
  <span class="subtitle">Don't have an account yet? <a href="{% url 'register' %}">Register here</a></span>
  <div class="login-container">
    <form class="login-form" action="" method="POST">
      <label for="login-title">Email</label>
      <input id="login-email" type="email" placeholder="Enter your email">

      <label class="password-title" for="login-title">Password</label>
      <input id="login-password" type="password" placeholder="Enter your password">

      <a href="#">Forgot your password?</a>

      <button class="login-button" type="submit">Sign in</button>
    </form>
    <div class="accounts-subtitle-container">
      <span class="accounts-subtitle">
        <hr> or sign in with your accounts
        <hr>
      </span>
    </div>
  </div>

  <!-- accounts login -->
  <div class="accounts-container">
    <button class="google-login"><img src="../static/images/assets/login/google.png" alt="google-icon">Continue with
      Google</button>

    <button class="facebook-login"><img src="../static/images/assets/login/facebook.png" alt="facebook-icon">Continue
      with
      Facebook</button>
  </div>
</main>

{% endblock content %}