{% extends 'base.html' %}

{% block content %}

<main id="authentication">
  <span class="title">Update your password</span>
  <span class="subtitle">Enter the email address associated with your account</span>

  <div class="authentication-container">

    <form class="authentication-form" action="" method="POST">

      <label for="authentication-password-1">New password</label>
      <div class="icons-1">
        <i class="fa-solid fa-eye icon-1"></i>
      </div>
      <input class="password-1" id="authentication-password-1" type="password" placeholder="At least 8 characters">

      <label class="password-label-2" for="authentication-password-2">Re-enter your password</label>
      <div class="icons-2">
        <i class="fa-solid fa-eye icon-2"></i>
      </div>
      <input class="password-2" id="authentication-password-2" type="password" placeholder="At least 8 characters">

      <button onclick="redirect()" class="authentication-button" type="submit">Continue</button>
    </form>

  </div>

</main>

<script>
  const hidePasswordButton1 = document.querySelector('.icon-1');
  const password1 = document.querySelector('.password-1');

  const hidePasswordButton2 = document.querySelector('.icon-2');
  const password2 = document.querySelector('.password-2');

  hidePasswordButton1.addEventListener('click', () => {
    if (password1.type === 'password') {
      password1.type = 'text';
      hidePasswordButton1.classList.replace('fa-eye', 'fa-eye-slash');
    } else {
      password1.type = 'password';
      hidePasswordButton1.classList.replace('fa-eye-slash', 'fa-eye');
    }
  })

  hidePasswordButton2.addEventListener('click', () => {
    if (password2.type === 'password') {
      password2.type = 'text';
      hidePasswordButton2.classList.replace('fa-eye', 'fa-eye-slash');
    } else {
      password2.type = 'password';
      hidePasswordButton2.classList.replace('fa-eye-slash', 'fa-eye');
    }
  })
</script>

{% endblock content %}