{% extends 'base.html' %}

{% block content %}

<main id="authentication">
  <span class="title">Update your password</span>
  <span class="subtitle">Enter the email address associated with your account</span>

  <div class="authentication-container">

    <form class="authentication-form" action="" method="POST">
      {% csrf_token %}
      <label for="authentication-title">Email</label>
      <input id="authentication-email" type="email" placeholder="Enter your email">

      <button onclick="redirect()" class="authentication-button" type="submit">Continue</button>
    </form>

  </div>

</main>

<script>
  function redirect() {
    setTimeout(myURL, 5000);
  }

  function myURL() {
    document.location.href = 'https://www.tutorialspoint.com/index.htm';
  }
</script>

{% endblock content %}